@import "card.css";
@import "scrollbar.css";

html, body, #main {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

[v-cloak] {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    font-size: 14px;
    font-family: Microsoft YaHei, serif;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #546E7A;
}

.font {
    font-size: 14px;
    color: #303133;
}

.panel {
    border: 1px #0000001f solid;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.ep-card-contents {
    padding: 15px;
}

.block-title {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    font-weight: bolder;
    font-size: 14px;
    padding: 5px 12px;
    height: 36px;
    line-height: 26px;
    border-left: 8px solid #2196f3;
    color: #666;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}