# 端口
server:
  port: 1001

# 数据库链接配置
spring:
  jpa:
    show-sql: true # 打印SQL，记录日志
    open-in-view: false
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.12.104:3306/bgc_demo?useUnicode=yes&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8
    username: test
    password: test
# 时间格式设置
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8